@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --fonteHind: 'Hind Siliguri', 'Courier New', Courier, sans-serif;
    --fonteMochy: 'Mochiy Pop P One', sans-serif;
    --fonteTexto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sizeTitle: 2.5em;
    --shadowTitle: black 2px 2.5px 2px;
    --padTitle: 65px;
    --darkBlue: #164F73;
    --lowDarkTitle: #2474A6;
    --lightBlue: #79BED9;
    --backColor: #D9D9D9;
    --darkBackColor: #737373;
    --wppColor: #25D366;
}
.btn-search {
    color: #fff;
    background-color: var(--lowDarkTitle);
    border-color: var(--lowDarkTitle)
}

.btn-search:hover {
    color: #fff;
    background-color: var(--darkBlue);
    border-color: var(--lowDarkTitle)
}

.btn-search.focus,
.btn-search:focus {
    box-shadow: 0 0 0 .2rem var(--lightBlue)
}

.btn-search.disabled,
.btn-search:disabled {
    color: #fff;
    background-color: var(--lowDarkTitle);
    border-color: #2474A6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: url("../_imagens/fundo-img-2.png") no-repeat center center fixed;
}

/* CABEÇALHO  */

header div.div-menu {
    background-image: linear-gradient(to left, var(--darkBlue), var(--lightBlue));
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 111;
    transition: transform 1.0s;
}

header div.div-menu a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1em;
}

header div.div-menu a:hover {
    color: #0c0b0b;
    font-size: 1.11em;
}

header>div.container-head nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

header ul.menu-superior {
    list-style: none;
    display: flex;
    font-family: var(--fonteHind);
}

header ul.menu-superior>li {
    letter-spacing: 2px;
    margin-left: 32px;
    padding-right: 10px;
}

header nav div.mobile-menu {
    display: none;
}

header nav div.mobile-menu>div {
    width: 50px;
    height: 5px;
    background: #F2F2F2;
    margin: 9px;
    border-radius: 11px;
    padding-right: 10px;
    transition: 00.3s;
}
@media(max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    header nav>#logo-jww {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vh;
    }
    header .menu-superior {
        position: absolute;
        top: 100%;
        height: 50vh;
        width: 40%;
        right: 0;
        background-image: linear-gradient(to bottom, var(--darkBlue), var(--lightBlue));
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateX(100%);
        transition: transform 0.33s ease-in;
    }

    header .menu-superior li {
        padding: 10px;
    }

    header nav div.mobile-menu {
        display: block;
    }
}
header .menu-superior.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(90px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header nav div.mobile-menu.active .line1 {
    transform: rotate(-45deg)translate(-8px, 8px);
    background-color: #e4e4e4;
}

header nav div.mobile-menu.active .line2 {
    opacity: 0;
}

header nav div.mobile-menu.active .line3 {
    transform: rotate(45deg)translate(-10.5px, -12px);
    background-color: #ecf3eb;
}

header div.div-menu .activeMenu {
    color: rgb(15, 19, 22);
    transition: 0.3s;
}

.nav--hidden {
    transform: translateY(-90px);
    box-shadow: none;
}

/*    HOME     */
main #home-input {
    margin-top: 15vh;
    height: 60vh;
    color: #F2F2F2;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: var(--fonteMochy);
    text-align: center;
}
main #home-input *{
    margin: 10px auto;
}
main>div#home-input button#btn-wpp {
    background-color: var(--wppColor);
    color: #F2F2F2;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    margin: 5% 0;
}
main>div#home-input button#btn-wpp:hover {
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.5s;
}
@media (max-width:600px) {
    main > div#home-input{
        height: 50vh;
    }
    main > div#home-input button#btn-wpp{
        color: #1b89ce;
    }
    main > div#home-input h1{
        font-size: 1.1em;
    }
    main>div#home-input h2{
        font-size: 1.5em;
    }
}

/*     SELEÇÃO SERVIÇO    */

section#selecao-servico {
    background-color: #111111d3;
    min-height: 75vh;
}
section#selecao-servico h2 {
    padding-top: var(--padTitle);
    font-family: var(--fonteMochy);
    text-shadow: var(--shadowTitle);
    font-size: var(--sizeTitle);
    color: var(--darkBlue);
    text-align: center;
    padding-top: 55px;
}
section#selecao-servico h4{
    font-family: var(--fonteMochy);
    color: #F2F2F2;
    text-align: center;
    margin-top: 50px;
}
div.service-sec{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.service-sec img{
    margin-top: 15px;
    cursor: pointer;
}
div.service-sec button{
    display: none;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
}
div.service-sec div.showOpt {
    position: absolute;
    width: 20%;
}

/* Serviço - Resposividade */

@media (max-width: 990px) {
    div.service-sec button {
        display: block;
        margin-top: 10vh;
    }

    div.service-sec img {
        display: none;
    }

    section#selecao-servico h4 {
        font-size: 1.1em;
    }

    section#selecao-servico h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 690px){
    div.service-sec button {
        display: block;
        margin-top: 5vh;
    }
    section#selecao-servico h2{
        font-size: 1.5em;
    }
}



/*    REGIÔES      */


#sec-regioes {
    background-color: rgb(233, 233, 233);
    min-width: 100%;
    min-height: auto;
    min-width: auto;
    color: #F2F2F2;
    font-family: var(--fonteMochy);
    padding-bottom: 52px;
}

#sec-regioes h1 {
    padding-top: var(--padTitle);
    font-size: var(--sizeTitle);
    text-align: center;
    text-shadow: var(--shadowTitle);
    color: var(--darkBlue);
    text-shadow: var(--shadowTitle);
}

#sec-regioes h2 {
    font-size: 1.5em;
    text-shadow: var(--shadowTitle);
    text-align: center;
    background-image: linear-gradient(to left, grey, rgb(214, 214, 214));
}

section#sec-regioes div.container-fluid {
    display: flex;
    justify-content: center;
}

section#sec-regioes ul {
    text-decoration: none;
    list-style-type: none;
}

section#sec-regioes ul#list-1 {
    text-align: start;
}

section#sec-regioes ul#list-2 {
    text-align: end;
}

section#sec-regioes ul>li>a {
    color: #000;
}

section#sec-regioes ul>li>a:hover {
    text-decoration: none;
    text-shadow: var(--shadowTitle);
    color: #F2F2F2;
}

section#sec-regioes div#btn-region {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#sec-regioes div#btn-region button {
    margin-top: 25px;
    border-radius: 15px;
}

/* Regiões - Resposividade */

@media (max-width:926px) {
    section#sec-regioes div.container-fluid{
        columns: 2;
        text-align: center;
    }
    section#sec-regioes ul#list-2 {
        text-align: center;
    }
}
@media (max-width:700px) {
    section#sec-regioes div.container-fluid ul {
        columns: 1;
        text-align: center;
    }
    section#sec-regioes ul#list-2 {
        text-align: center;
    }
    section#sec-regioes picture img{
        display: none;
    }
}

/*    SOBRE NÓS    */

section#sobre-nos {
    background-color: rgba(206, 206, 206, 0.959);
    width: 100%;
    min-height: 60vh;
    color: #0c0b0b;
    font-size: 1.2em;
    font-weight: 480;
    text-align: center;
    padding: 0px 50px 30px 50px;
}
section#sobre-nos h1 {
    padding-top: var(--padTitle);
    font-family: var(--fonteMochy);
    text-shadow: var(--shadowTitle);
    color: var(--lowDarkTitle);
    font-size: var(--sizeTitle);
    font-weight: bolder;
    padding-bottom: 40px;
}
section#sobre-nos>#text-sobre-nos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width:600px) {
    section#sobre-nos h1{
        font-size: 1.7em;
    }
    div#sec-slider *{
        padding:2px 0 0 0;
    }
}
/*     FOTOS       */

main section#sec-fotos {
    height: 90vh;
    background-color: #cbdae7;
    display: grid;
}

main section#sec-fotos h1 {
    padding-top: var(--padTitle);
    text-align: center;
    font-family: var(--fonteMochy);
    color: var(--darkBlue);
    font-size: 3em;
    font-weight: bolder;
    text-shadow: var(--shadowTitle);
}

/*  FOTOS */

main section#sec-fotos div.galeria-fotos {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom:3% ;
}
main section#sec-fotos div.galeria-fotos div{
    margin: 3px;
}

main section#sec-fotos div.item-galeria {
    position: relative;
}

main section#sec-fotos div.item-galeria .img-galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:660px){
    main section#sec-fotos {
        height: 85vh;
        display: grid;
    }
    main section#sec-fotos h1{
        padding-top: 5px;
        font-size: 2.2em;
    }
    main section#sec-fotos div.galeria-fotos {
        height: 50%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-auto-rows: 180px;
        padding: 0px 3px;
    }
    main section#sec-fotos div.item-galeria .img-galeria {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    main section#sec-fotos div.galeria-fotos div:nth-child(4n+1){
        display: none;
    }
}

/* FALE CONOSCO */

section#fale-conosco {
    min-height: 64vh;
    background-color: #5c809c;
}

section#fale-conosco>h1 {
    padding-top: 50px;
    font-family: var(--fonteMochy);
    font-size: var(--sizeTitle);
    color: #0f486b;
    text-align: center;
    text-shadow: var(--shadowTitle);
}

section#fale-conosco a {
    color: rgb(28, 28, 114);
    font-size: 18px;
    font-style: italic;
}

section#fale-conosco div.cont {
    display: flex;
    justify-content: space-around;
}

section#fale-conosco .fale-conosco-div-ib {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

section#fale-conosco .fale-conosco-div-ib h4 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.2em;
    margin-top: 5%;
    margin-bottom: 9px;
}

section#fale-conosco>#fale-conosco-cartao {
    display: block;
    margin: 30px auto 19px auto;
    width: 45%;
    padding: 10px;
    border-radius: 25px;
}

section#fale-conosco .fale-conosco-div-ib i {
    color: var(--lowDarkTitle);
    text-shadow: .5px .25px .25px black;
}

@keyframes iconAnime {}

section#fale-conosco .fale-conosco-div-ib i:hover {
    animation: iconAnime 5s;
}

section#fale-conosco>div#fale-conosco-img {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 990px) {
    section#fale-conosco>div#fale-conosco-img img {
        display: none;
    }

    section#fale-conosco div.cont {
        text-align: center;
        display: block;
        margin: auto;
        width: auto;
        padding: 10px;
    }

    section#fale-conosco div#fale-conosco-info,
    div#fale-conosco-info-2 {
        vertical-align: middle;
    }
}
section#fale-conosco .fale-conosco-div-ib i:hover{
    color: #1b89ce;
    transform: rotate(-90deg) scale(1.2);
    transition: .4s;
}
section#fale-conosco>div#fale-conosco-img i:hover{
    transform: scale(1.25);
    color: brown;
    transition: .4s;  
}

/* ---------- RODAPÉ  -------------- */

footer {
    margin: 8.5px;
    text-align: center;
    background-color: #21587ab4;
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer>h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
}

@media (max-width:600px) {
    footer>h4 {
        font-size: 1em;
    }
}